<br/>
<div class = " booyah-box col-10 offset-1">
  

    <h1 class= "content-head"> About Trailster </h1>
    <p > Trailster is a Web Application that allows users to upload, browse, and rate different trails in their area! It is currently in the works and will be completed in the near future. Look out for future updates and get ready to find new places to go! This web application was created by Long H. in order to fullfill graduation requirements as part of the UC Berkely Extension coding Boot Camp. </p>

    <br/>
    <br/>
    <br/>

    <div class="row">
      <div class="col-12 col-sm-4" style="padding-top:30px;">
        <%= image_tag 'brainpuzzle.png', class: 'img-fluid' %>
      </div>
      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center content-head">Details</h2>
        <br />
        <p>
          Ruby on Rails was utilized to create this application. Trailster's landing page was first created as a static page to allow users to read and know how to use the application. The sticky footer will have links to the 'About Us' page and other relvant pages. After the completion of the Front Page, Devise will be implemented. Devise will allow users to login to post trails. In addition, they will be able to provide ratings for existing trails on the Web Application. Each entry will act like a Log for the trails, listing the general area of the trail along with the duration. 
        </p>
      </div>
    </div>

</div>