<br/>


<div class='hero'> 
  <br/>
  <div class = 'frosty col-10 offset-1 text-center'>
    <br/>
    <h1> This is the Landing Page </h1>
    <br/>
    <h2> Sub heading is here </h2>
    <br/>
    <%= link_to "Get Started", '#', class: "btn btn-success" %>
    <br/><br/>
  </div>

</div>



<br/>
<div class = "row text-center ">
  <div class = "col-12 col-sm">
    <h3> F1 </h3>
  </div>

  <div class = "col-12 col-sm">
    <h3> F2 </h3>
  </div>  

  <div class = "col-12 col-sm">
    <h3> F3 </h3>
  </div>

</div>