<br/>


<div class='hero'> 
  <br/>
  <div class = 'frosty col-10 offset-1 text-center'>
    <br/>
    <h1 class = "hero-title main"> Plan new desitnations </h1>
    <br/>
    <h2 class = "hero-title"> Start a fun adventure </h2>
    <br/>
    <%= link_to "About Us ...", about_path, class: "btn btn-success" %>
    <br/><br/>
  </div>

</div>



<br/>
<div class = "row text-center ">
  <div class = "booyah-box col-10 col-sm ">
    <h3 class = "content-head">SHARE!</h3>
    <h5 class= "content"> Let us know about your favorite places.</h5>
    <br/>
    <i class="fa fa-share-alt-square fa-4x"></i>
  </div>

  <div class = "booyah-box col-10 col-sm ">
    <h3 class = "content-head">DISCOVER!</h3>
    <h5 class= "content"> Find new places to hike, walk, or run.</h5>   
    <br/>
    <i class="fa fa-search-plus fa-4x"></i>  
  </div>  

  <div class = "booyah-box col-10 col-sm ">
    <h3 class = "content-head">GO!</h3>
    <h5 class= "content"> Set out on new adventures. </h5>    
    <br/>
    <i class="fa fa-blind fa-4x"></i>
  </div>

</div>