<br/>
<div class="booyah-box col-10 offset-1">
   
    <h1 class = "hero-title main text-center">Browse Trails</h1>
    <div class = "col text-right" >
      <%= link_to 'Submit New Trail', new_trail_path, class: 'btn btn-info' %>
    </div>

  <br />
  <br/>

<div class="booyah-box alt-booyah col-10 offset-1">
  <% @trails.each do |trail| %>
    <h2> <%= trail.name %> </h2>
    <h3> <%= trail.duration %> </h3>
    <h3> <%= trail.address %> </h3> 

  <% end %>
</div>  
<br/>
<br/>
</div>


<br/>
<br/>
